on:
  push:
    branches:
      - main
      - master
      - 'dev*'
      - 'releases/**'
  pull_request:
      types: [opened, synchronize, reopened]

name: Main Workflow
jobs:
  # test:
  #   runs-on: ubuntu-latest
  #   steps:
  #   - uses: actions/checkout@v4
  #   - name: use node.js
  #     uses: actions/setup-node@v3
  #     with:
  #       node-version: '22.15.0'
  #   - run: npm install
  #   - run: npm test
  #   - name: Upload coverage artifacts
  #     uses: actions/upload-artifact@v4
  #     with:
  #       name: coverage-report
  #       path: coverage/

  sonarcloud:
    # needs: test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    # - name: Download coverage artifacts
    #   uses: actions/download-artifact@v4
    #   with:
    #     name: coverage-report
    #     path: coverage/
    - name: SonarCloud Scan
      uses: SonarSource/sonarcloud-github-action@v3
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN_SC }}
        SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL_SC }}

  sonarqube:
    # needs: test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    # - name: Download coverage artifacts
    #   uses: actions/download-artifact@v4
    #   with:
    #     name: coverage-report
    #     path: coverage/
    - name: SonarQube Scan
      uses: SonarSource/sonarqube-scan-action@v6
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
